spring.application.name=EKO

# YouTube Data API v3 - gere sua chave em console.cloud.google.com
youtube.api.key=SUA_CHAVE_AQUI

# Porta do servidor
server.port=8080

# Thymeleaf
spring.thymeleaf.cache=false
